body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: darkolivegreen;
  padding: 1em;
  border-radius: 10px;
  opacity: 0.7;
  color: azure;
}

i {  
  padding-left: 1em;
}
